<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="flex">
    <div class="w-[50%] flex relative">

      <%= image_tag('registration.png', alt: "logo", class: "w-[100%] max-h-[970px]") %>
      <p class="absolute right-0 px-8 font-semibold rounded-l-[22px] py-2 text-xl bg-white top-8">
        Register
      </p>
      <div class="absolute top-96 left-8 flex flex-col items-start justify-start">
        <h1 class="text-[#4D4747] text-3xl">Let's Get</h1>
        <h1 class="uppercase text-[80px] font-bold">Lifeline</h1>
        <p class="text-black w-[90%] font-semibold ">
          A patient-centered medical records system utilizes NFC and QR code technology for seamless access to crucial health data.
          Patients receive an NFC-enabled card/ring with a QR code, granting secure, real-time access to their medical history, test results,
          and treatment plans. Empowering patients to share and update information efficiently, promoting personalized and informed
          healthcare.
        </p>
      </div>
    </div>

    <div class="w-[50%] flex flex-col gap-2  items-center">

      <%= image_tag('lifeline-logo.png', alt: "logo", class: "w-[147px] h-[119px] object-contain mt-6") %>

      <div class="flex w-[90%] mx-auto  gap-1 flex-col">
        <p class="text-[#565151] uppercase  ">Identification Details</p>
        <%= f.text_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "Register Doctor ID/ Registered Nurse ID/ Resident ID", required: true %>

      </div>
      <div class="flex w-[90%] flex-row  gap-6 justify-between">
        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">First Name</p>
          <%= f.text_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "First Name", required: true %>
        </div>

        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">Last Name</p>
          <%= f.text_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "Last Name", required: true %>
        </div>
      </div>

      <div class="flex w-[90%] mx-auto  gap-1 flex-col">
        <p class="text-[#565151] uppercase  ">Email</p>
        <%= f.email_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "email", required: true %>
      </div>

      <div class="flex w-[90%] flex-row  gap-6 justify-between">
        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">Phone Number</p>
          <%= f.number_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "Enter Your Phone No.", required: true%>
        </div>

        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">Upload Photo</p>
          <%= f.file_field :email, class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2", placeholder: "Last Name" %>
        </div>
      </div>

      <div class="flex w-[90%] flex-row  gap-6 justify-between">
        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">Password</p>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "••••••••", class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2",  required: true %>
        </div>

        <div class="flex  w-[50%] mx-auto  gap-1 flex-col">
          <p class="text-[#565151] uppercase  ">Confirm Password</p>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "••••••••", class: "w-[100%]  h-[50px]  bg-[#F0F2F2] p-2 mt-7", required: true %>
        </div>
      </div>

      <div class="flex flex-col w-[90%] justify-center items-center">
        <%=  f.submit "Register", class: "bg-[#00AEEF] w-[100%] text-white h-[51px] hover:bg-white hover:text-[#00BEEF] border hover:border-[#00BEEF] uppercase" %>
      </div>

      <p class="text-center">
        Already have an account? <span class="text-[#00AEEF]"><%= render "devise/shared/links" %></span>
      </p>

      <div class="w-[70%] mx-auto flex justify-between items-center">
        <p class="bg-[#E5E5E5] w-[40%] h-[1px]"></p>
        <p class="text-[#565151]">Or</p>
        <p class="bg-[#E5E5E5] w-[40%] h-[1px]"></p>
      </div>
      <div>
        <%= image_tag("google-icon.png", alt: "google logo") %>
      </div>
    </div>
  </div>



<% end %>